
body {
    background-color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.calculator {
    display: flex;
    height: 560px;
    width: 400px;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: #aaaaaa;
    border-radius: 10px;
    border: 2px solid black;
}

.numbers, .operator, .equals {
    width: 81.5px;
    height: 67.5px;
    margin: 6px; /* Added margin to create spacing between the numbers */
    font-size: 18px;
}

.smallerBoxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    height: 318px;
    margin: 3px; /* Reduced margin to decrease spacing between smallerBoxes */
}

.screen {
    width: 356px;
    height: 70px;
    margin-top: 10px; /* Reduced margin to decrease spacing between screen and smallerBoxes */
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
}

.currentOperation {
    font-size: 30px;
    font-weight: bold;
    text-align: right;
    margin-top: 30px;
    margin-right: 7px;
}

.clear, .delete {
    width: 175px;
    height: 67.5px;
    margin: 3px; /* Added margin to create spacing between the clear and delete buttons */
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.bigContainers {
    padding: 0px;
    height: 75px;
    margin: 3px; /* Reduced margin to decrease spacing between bigContainers */
}




button {
    border-radius: 10px;
    border: 2px solid black;
}

.clear {
    background-color: rgba(57, 57, 239, 0.605);
}

.delete {
    background-color: rgba(241, 69, 69, 0.538);
}